.feed-item {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.feed-item .feed-img {
    flex: 0 0 100%;
    max-width: 100%;
    border-radius: 10px;
    max-height: 200px;
    object-fit: cover;
    margin-top: 15px;
    box-shadow: 1px 1px 6px lightgray;
}

.feed-item .feed-content {
    padding: 12px;
    flex: 0 0 100%;
    max-width: 100%;
}

@media (min-width: 800px) {
    .feed-item .feed-img {
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%;
    }

    .feed-item .feed-content {
        flex: 0 0 66.5%;
        max-width: 66.5%;
    }
    
}